<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- page.title %></title>
    <link rel="shortcut icon" href="<%- page.image %>" type="image/x-icon" />
    <meta name="description" content="<%- page.description||page.title %>" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- page.title %>" />
    <meta property="og:description" content="<%- page.description||page.title %>" />
    <meta property="og:url" content="<%- page.url %>" />
    <meta property="og:site_name" content="Safelink: Anonymize External Links" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%- page.title %>" />
    <meta name="twitter:description" content="<%- page.description||page.title %>" />
    <meta name="twitter:image" content="<%- page.image %>" />
    <meta name="theme-color" content="#ee5b3e" />
    <meta name="robots" content="nofollow" />
    <link rel="stylesheet" href="/safelink/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <%- htmltag('style','css/style.css') %>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light mb-4">
      <div class="container-fluid">
        <a class="navbar-brand"><%- page.title.substring(0,10) %></a>
        <form class="d-flex" action="https://www.webmanajemen.com/p/search.html">
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <main class="container-fluid">
      <div class="row">
        <div class="col-12" id="main-contents">
          <%- page.content %>
          <div id="dump" class="p-2"></div>
        </div>
      </div>
    </main>
    <script src="/safelink/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/safelink/dist/bundle.js"></script>
    <script>
      const sf = new safelink({
        exclude: [/https?:\/\/?(?:([^*]+)\.)?webmanajemen\.com/],
        redirect: 'https://www.webmanajemen.com/page/safelink.html?url=',
        verbose: false,
        type: 'base64',
        password: 'root',
      });
      //sf.parse(document.querySelector('body'));
      const resolved = sf.resolveQueryUrl(location.search, 'root');
      const eldump = document.getElementById('dump');
      if (eldump) {
        eldump.innerHTML += 'YOU CAN REMOVE THIS DUMP ELEMENT<br/>';
        eldump.innerHTML += '<pre>' + JSON.stringify(resolved, null, 2) + '</pre>';
      }
    </script>
  </body>
</html>
